<!DOCTYPE html>
<html lang="en">
  <!--  META AND USEFUL SCRIPTS LINKS -->
  <head>
    <title>Dynamic Search</title>
    <style>
      #map {
        height: 600px;
      }
    </style>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
      charset="utf-8"
    />
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <script>
      //  VARIABLES USED IN BELOW PROGRAM
      var red_image =
        "https://www.pngkit.com/png/full/13-130702_google-location-icon-png-location-icon.png";
      var blue_image =
        "https://www.pngkit.com/png/full/17-175946_location-vector-symbol-google-maps-marker-blue.png";
      var map_image = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
      var map_attributes =
        'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors';
    </script>
    <link
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- STRUCTURE OF PAGE IS DEFINED HERE: FIELDS, BUTTONS AND RESULTS -->
    <div class="container">
      <h1>Dynamic Search</h1>

      <!--  ENTER SEARCH QUERY HERE  -->
      <div class="form-group mt-4">
        <label for="searchInput">Search:</label>
        <input
          type="text"
          class="form-control"
          id="search"
          placeholder="Enter search query"
          autocomplete="off"
        />
      </div>

      <!--  ENTER LATITUDE LONGITUDES HERE -->
      <div>
        <div class="container mt-4">
          <label for="searchInput">enter longitude:</label>
          <input
            type="text"
            class="form-control"
            id="searchLong"
            placeholder="Enter longitude "
            autocomplete="off"
          />
          <label for="searchInput">enter latitude:</label>
          <input
            type="text"
            class="form-control"
            id="searchLat"
            placeholder="Enter latitude "
            autocomplete="off"
          />
        </div>
        <!-- INPUT MARK POINTS HERE -->
        <div>
          <label for="markPoints">enter mark Points:</label>
          <br />
          <h1 style="font-size: 4px; color: #989898">
            format : (75.833455, 22.727647), (75.969456, 22.721861), (75.860012,
            22.653182)
          </h1>
          <input
            type="text"
            class="form-control"
            id="markPoints"
            placeholder=" enter coordinates here - "
            autocomplete="off"
          />
        </div>

        <!-- BUTTONS -->
        <button class="btn btn-primary" id="searchButton">Search</button>
        <button class="btn btn-primary" id="downloadButton">Download</button>
        <button class="btn btn-primary" id="CoButton">Go by coordinates</button>
        <button class="btn btn-primary" id="markButton">Mark on map</button>
      </div>

      <!--  DISPLAY OUTPUT HERE  -->
      <table class="table table-striped mt-4" id="results">
        <!-- <thead>
          <tr>
            <th>name</th>
            <th>PATAA_CODE</th>
            <th>ZIP_CODE</th>
            <th>address</th>
            <th>COUNTRY_NAME</th>
            <th>STATE_NAME</th>
            <th>CITY_NAME</th>
            <th>GEO_LOCATION</th>
            <th>score</th>

            Add more columns as needed
          </tr>
        </thead> -->
        <tbody id="results_body">
          <!-- Results will be dynamically added here -->
        </tbody>
      </table>
    </div>
    <!-- DISPLAYING MAP HERE -->
    <div id="map"></div>



    <!--  SCRIPT PART BEGIN -->
    <script type="text/javascript">

      // QUERY SELECTORS FROM HTML  
      const searchInput      = document.querySelector("#search");
      const results_body     = document.querySelector("#results_body");
      const searchClick      = document.querySelector("#searchButton");
      const downloadClick    = document.querySelector("#downloadButton");
      const CoClick          = document.querySelector("#CoButton");
      const markButton       = document.querySelector("#markButton");
      const markPoints       = document.querySelector("#markPoints");

      //  GLOBAL  VARIABLES
      let currentQuery = null;
      let requestInProgress = false;
      let request = null;
      let downloadResults = null;
      let map;
      let results_boundary;
      let results_fetched;
      let results_centroid; 


      //   EVENT LISTENERS

      //  EVENT LISTENER FOR SEARCH FIELD QUERY
      searchInput.addEventListener("input", () => {
        const query = searchInput.value;
        load_data(query);
      });

      //  EVENT LISTENER  FOR SEARCH BUTTON CLICK
      searchClick.addEventListener("click", () => {
        const query = searchInput.value;
        load_data(query);
      });

      //  EVENT LISTENER FOR GO BY COORDINATES BUTTON
      CoClick.addEventListener("click", () => {
        var long = searchLong.value;
        var lat = searchLat.value;
        const query = [long, lat];
        load_data2(query);
        // if (
        //   typeof long !== "string" &&
        //   typeof lat !== "string" &&
        //   long !== null &&
        //   lat !== null
        // ) {
        //   load_data2(query);
        // } else {
        //   var q = " ";
        //   load_data(q);
        // }
      });

      //  EVENT LISTENER FOR MARKING POINTS ON MAP
      markButton.addEventListener("click", () => {
        reinitializeMap();
      });

      //  EVENT LISTENER FOR DOWNLOADING TABULAR RESULTS
      downloadClick.addEventListener("click", async () => {
        const query = searchInput.value;
        if (downloadResults) {
          const worksheet = XLSX.utils.json_to_sheet(downloadResults);
          const workbook = XLSX.utils.book_new();
          worksheet["!cols"] = [{ wch: 25 }, {}]; // Adjust the index if needed
          XLSX.utils.book_append_sheet(workbook, worksheet, "SearchResults");
          XLSX.writeFile(workbook, query + ".xlsx", { compression: true });
        }
      });

      //  FUNCTIONS CALLED FOR LOADING DATA BY EVENT LISTENERS

      // load_data();

      //   LOAD DATA FOR SEARCH FIELDS
      async function load_data(query) {
        let html = ` <thead>
          <tr>
            <th>name</th>
            <th>PATAA_CODE</th>
            <th>ZIP_CODE</th>
            <th>address</th>
            <th>COUNTRY_NAME</th>
            <th>STATE_NAME</th>
            <th>CITY_NAME</th>
            <th>GEO_LOCATION</th>
            <th>score</th>
       
            <!-- Add more columns as needed -->
          </tr>
        </thead>`;
        downloadResults = null;
        // to avoid aggregation of query results we use current query
        // otherwise it would be showing the previously generated results
        // which got delayed in fetching
        currentQuery = query;
        if (!query) {
          // DISPLAY NO QUERY MESSAGE
          displayNoQueryMessage();
        } else if (isInputStringSpace(query)) {
          //  DISPLAY WARNING WHEN SPACES
          displayWhySpace();
        } else {
          if (request && requestInProgress) {
            // Abort the previous request if it's still in progress
            request.abort();
          }
          request = new XMLHttpRequest();
          console.log("query : up : ", query, `/allInOne?q=${query}`);
          request.open("POST", `/allInOne?q=${query}`);
          request.setRequestHeader("Content-Type", "application/json");
          requestInProgress = true; // Set the flag to indicate that a request is in progress
          request.onload = () => {
            if (query === currentQuery) {
              if (request.status === 200) {
                const results = JSON.parse(request.responseText);
                if (results?.length > 0) {
                  results.forEach(async (result) => {
                    html +=
                      `
                <tr>
                    <td>` +
                      result.name +
                      `</td>
                    <td>` +
                      result.pataa_code +
                      `</td>
                    <td>` +
                      result.zipcode +
                      `</td>
                    <td>` +
                      result.address +
                      `</td>
                    <td>` +
                      result.country_name +
                      `</td>
                    <td>` +
                      result.state_name +
                      `</td>
                    <td>` +
                      result.city_name +
                      `</td>
                    <td>` +
                      result.geo_location +
                      `</td>
                    <td>` +
                      result.Score +
                      `</td>
                </tr>
                `;
                  });
                  results_body.innerHTML = html;
                } else {
                  displayNoDataFound();
                }
                results_body.innerHTML = html;
                downloadResults = results;
              } else {
                console.log("Error fetching data:", request.status);
              }
            }
            requestInProgress = false;
          };
          const que = JSON.stringify({ query });
          request.send(que);
        }
      }

      //  LOAD DATA FOR COORDINATES
      async function load_data2(query) {
        var que = { query1: query[0], query2: query[1] };
        let html = ` <thead>
          <tr>
            <th>id</th>
            <th>dist_nm</th>
            <th>state_nm</th>
            <th>ulb_nm_e</th>
            <!-- Add more columns as needed -->
          </tr>
        </thead>`;
        downloadResults = null;
        currentQuery = query;
        if (!query) {
          displayNoQueryMessage();
        } else if (isInputStringSpace1(query)) {
          displayWhySpace();
        } else {
          if (request && requestInProgress) {
            // Abort the previous request if it's still in progress
            request.abort();
          }
          request = new XMLHttpRequest();
          request.open("POST", `/allInOne2?q1=${que.query1}&q2=${que.query2}`);
          request.setRequestHeader("Content-Type", "application/json");
          requestInProgress = true; // Set the flag to indicate that a request is in progress
          request.onload = () => {
            if (query === currentQuery) {
              if (request.status === 200) {
                const results = JSON.parse(request.responseText);
                // console.log("results :  : : ", results);
                if (results?.length > 0) {
                  results.forEach(async (result) => {
                    html +=
                      `
                <tr>
                    <td>` +
                      result.id +
                      `</td>
                    <td>` +
                      result.dist_nm +
                      `</td>
                    <td>` +
                      result.state_nm +
                      `</td>
                    <td>` +
                      result.ulb_nm_e +
                      `</td>
                </tr>
                `;
                  });
                  results_body.innerHTML = html;
                } else {
                  displayNoDataFound();
                }
                results_body.innerHTML = html;
                downloadResults = results;
              } else {
                console.log("Error fetching data:", request.status);
              }
            }
            requestInProgress = false;
          };
          que = JSON.stringify(que);
          request.send(que);
        }
      }

      //  LOAD DATA INTO RESULTS_FETCHED VARIABLE FROM DATABASE TO MARK ON MAP
      async function load_data3(query) {
        // REQUEST IS CREATED
        request = new XMLHttpRequest();
        request.open("POST", `/allInOneInsideOut?q= ${query}`);
        request.setRequestHeader("Content-Type", "application/json");
        // REQUEST IS LOADED
        request.onload = () => {
          if (request.status === 200) {
            // RESULTS ARE FETCHED AND STORED IN RESULTS_FETCHED VARIABLE
            var reqRes = JSON.parse(request.responseText);
            results_fetched = reqRes.results1;
            results_boundary = JSON.parse(reqRes.results2);
            results_centroid = reqRes.results3;
         
            //  THESE RESULTS ARE PASSED INTO MAP FUNCTIONS
          } else {
            console.log("Error fetching data:", request.status);
          }
        };
        // REQUEST IS SENT
        request.send();
      }



      // FUNCTION TO LOAD AND REGENERATE MAP


      //   TO INITIALISE MAP
      function initMap(results_fetched) {
        // MAKING OBJECT MAP WITH CENTRE COORDINATES AND ZOOM VALUE
        map = L.map("map").setView(results_centroid, 11); // Place a marker on the same location.

        // ADDING MAP TO WEBPAGE
        L.tileLayer(map_image, {
          attribution: map_attributes,
          maxZoom: 18,
        }).addTo(map);

        //  ADDING BOUNDARY TO THE MAP
        L.geoJSON(results_boundary).addTo(map);
        //  IMPORTING RED MARKER TO DISPLAY IN MAP
        var redIcon = L.icon({
          iconUrl: red_image, // URL to the marker image
          iconSize: [25, 41], // size of the icon image
          iconAnchor: [12, 41], // anchor point of the icon (bottom center)
        });
        //  IMPORTING BLUE MARKER TO DISPLAY IN MAP
        var blueIcon = L.icon({
          iconUrl: blue_image, // URL to the marker image
          iconSize: [25, 41], // size of the icon image
          iconAnchor: [12, 41], // anchor point of the icon (bottom center)
        });

        //  FUNCTION TO ITERATIVELY MARK POINTS ON MAP 🚩
        for (var i = 0; i < results_fetched.length; i++) {
          // Target's GPS coordinates.
          var target = L.latLng(
            results_fetched[i].latitude,
            results_fetched[i].longitude
          );
          // Place a marker on the same location.
          if (results_fetched[i].location === "inside") {
            L.marker(target, { icon: blueIcon }).addTo(map);
          } else {
            L.marker(target, { icon: redIcon }).addTo(map);
          }
        }
      }

      //  TO REMOVE MAP FROM CONTAINER
      function removeMap() {
        if (map) {
          map.remove();
        }
      }

      //  TO REINITIALISING MAP ON AFTER REMOVING ON SECOND CLICK
      async function reinitializeMap() {
        var query = markPoints.value;
        // console.log("query in markpoints : ", query);
        if (isInputStringSpace(query)) {
          displayWhySpace();
        } else if (!query) {
          displayNoQueryMessage();
        } else {
          removeMap(); // First, remove the existing map
          await load_data3(query); //FETCH DATA FROM DATABASE
          setTimeout(() => {
            console.log("FETCHED RESULTS : ", results_fetched);
            if (results_fetched) {
              initMap(results_fetched); // Then, initialize a new map after 1 second
            }
          }, 500);
        }
      }



      // EXTRA FUNCTIONS TO AVOID EXCEPTIONAL CASES LIKE ONLY SPACES IN SEARCH FIELDS


      // FUNCTION TO HANDLE SPACES FOR SEARCH KEYWORD FIELD
      function isInputStringSpace(inputString) {
        var stringWithoutSpaces = inputString.replace(/\s/g, "");
        if (stringWithoutSpaces.length === 0) {
          return true;
        } else {
          return false;
        }
      }

      // FUNCTION TO HANDLE SPACES FOR LAT LONG FIELDS
      function isInputStringSpace1(inputString) {
        console.log("input string : ", inputString);
        var stringWithoutSpaces0 = inputString[0].replace(/\s/g, "");
        var stringWithoutSpaces1 = inputString[1].replace(/\s/g, "");

        if (
          stringWithoutSpaces0.length === 0 &&
          stringWithoutSpaces1.length === 0
        ) {
          return true;
        } else {
          return false;
        }
      }

      // FUNCTION TO DISPLAY NO QUERY MESSAGE
      function displayNoQueryMessage() {
        let html = `
        <tr>
          <td colspan="10" class="text-center">Type something in the search box! 👀</td>
        </tr>
      `;
        results_body.innerHTML = html;
      }

      // FUNCTION TO DISPLAY WARNING WHEN SPACE IS ENTERED
      function displayWhySpace() {
        let html = `
                <tr>
                    <td colspan="10" class="text-center"> why s   p   a   c   e ??? 🙄🙄  </td>
                </tr>
                `;
        results_body.innerHTML = html;
      }

      //  FUNCTION TO DISPLAY NO DATA FOUND MESSAGE
      function displayNoDataFound() {
        let html = `
                <tr>
                    <td colspan="10" class="text-center">No Data Found 🤷‍♀️🚧 </td>
                </tr>
                `;
      }
    </script>
    <!-- SCRIPT PART END -->
  </body>
</html>
